.cache/
.dotnet/
.landscape/
.vscode-server/
.vscode/
.snap/
.terraform/
.terraform.d/
.viminfo
.wget-hsts
snap/
terraform/.terraform/
.lesshst
.motd_shown
.sudo_as_admin_successful
.vim/.netrwhist
.local/
.kube/
.aws/credentials
.bash_history
